$icon-size: 1em;

.TooltipEntity {
    cursor: pointer;

    &:hover {
        color: $theme-color;
    }

    .icon-warning {
        color: $color-danger;
    }

    .icon {
        width: $icon-size;
        height: $icon-size;
        margin-right: 0.2em;
        vertical-align: middle;
    }
}
