$static-root: "../";
$images-root: $static-root + "images/";
$font-root: $static-root + "fonts/";

@import "settings/variables";
@import '../../../../../client/scss/settings';
@import '../../../../../client/scss/tools';
